.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  z-index: 2000;
}
.welcome h2 {
  font-size: 160px;
  font-weight: 300;
  opacity: 0;
  transition: all 0.1s ease-in-out;
  transform: rotate(90deg) scale(0.8);
}

.welcome__logo__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 14px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.welcome__logo {
  opacity: 0;
  transition: all 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.welcome .welcome__reveal {
  opacity: 1;
  transform: unset;
}

.welcome .welcome__rotate {
  transform: rotate(180deg) scale(1.5);
}

:root {
  --background-color: #121212;
  --background-lighter-color: #2b2b2b;
  --background-lightest-color: #3b3b3b;
  --accent-color: #d364ff;
  --accent-color-transparent: rgba(255, 100, 255, 0.2);
  --slider-background-color: rgba(255, 255, 255, 0.38);
  --text-color-high-emphasis: rgba(255, 255, 255);
  --text-color-medium-emphasis: rgba(255, 255, 255, 0.6);
  --text-color-low-emphasis: rgba(255, 255, 255, 0.3);
  --fixed-header-color: rgba(43, 43, 43, 0.5);
  --introduction-window-color: rgba(43, 43, 43, 0.7);
  --osx-window: #3b3b3b;
  --osx-border-color: transparent;
  --osx-dot-container-bottom-border-color: #000;
  --inactive-dot: #606060;
  --shadow: 0px 3px 22px 0px rgba(0, 0, 0, 0.7);
  --code-art__base-color: #ffffffdc;
  --caret-fill-color: #ffffffdc;
  --lighter-accent-color: rgba(255, 100, 255, 0.2);
  --about-me-h-color: #d364ff;
  --about-me-p-color: rgba(255, 255, 255, 0.8);
  --call-to-action-text-color: #444;
  --call-to-action-hover-text-color: #d364ff;
  --diagonal-color: #1b1b1b;
  --odd-sibling-color: #232323;
  --nav-child-hover-color: #757575;
  --error-color: rgb(239, 35, 60, 0.8);
}

.small-screen-menu__overlay {
  display: flex;
  justify-content: right;
  align-items: center;
  transition: opacity 0.2s ease-in, background-color 0.2s ease-in, -webkit-backdrop-filter 0.2s ease-in;
  transition: opacity 0.2s ease-in, backdrop-filter 0.2s ease-in, background-color 0.2s ease-in;
  transition: opacity 0.2s ease-in, backdrop-filter 0.2s ease-in, background-color 0.2s ease-in, -webkit-backdrop-filter 0.2s ease-in;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 900;
}

.small-screen-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  padding-bottom: 200px;
  top: 50px;
  right: 0;
  width: 50vw;
  height: 100vh;
  border-top-left-radius: 4px;
  box-shadow: var(--shadow);
  gap: 34px;
  transition: all 0.3s ease-out;
  opacity: 0;
  transform: translateX(100%);
  background: linear-gradient(to top, var(--background-color), var(--background-lighter-color));
}
.small-screen-menu a {
  text-decoration: none;
}
.small-screen-menu a:link {
  color: inherit;
}
.small-screen-menu label,
.small-screen-menu a {
  font-size: 1em;
  font-weight: 200;
  transition: all 0.1s ease;
}
@media (hover: hover) and (pointer: fine) {
  .small-screen-menu label:hover,
.small-screen-menu a:hover {
    color: var(--accent-color);
  }
}
.small-screen-menu label:active,
.small-screen-menu a:active {
  color: var(--accent-color);
}

.resume-pdf__render {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 30px);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.resume-pdf__render .resume__loading-icon {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-lighter-color);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.resume-pdf__render h3 {
  margin-bottom: -10px;
  font-weight: 400;
}
.resume-pdf__render svg {
  position: unset;
}
.resume-pdf__render iframe {
  border: none;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.overlay__resume {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease-in, background-color 0.2s ease-in, -webkit-backdrop-filter 0.2s ease-in;
  transition: opacity 0.2s ease-in, backdrop-filter 0.2s ease-in, background-color 0.2s ease-in;
  transition: opacity 0.2s ease-in, backdrop-filter 0.2s ease-in, background-color 0.2s ease-in, -webkit-backdrop-filter 0.2s ease-in;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  background-color: unset;
  -webkit-backdrop-filter: blur(0);
          backdrop-filter: blur(0);
  opacity: 0;
}

body .overlay__resume .osx-modal__resume__maximize {
  width: 100vw;
  height: 100vh;
  border-radius: 0;
}
body .overlay__resume .osx-modal__resume__maximize .osx-bar__dots__container {
  border-radius: 0;
}

.overlay__resume__active {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

.overlay__resume__invisible {
  visibility: hidden;
}

.resume__osx-window {
  width: 500px;
  transform: translateY(100%) scale(0.5);
  opacity: 0;
}

.resume__osx-window__active {
  transform: unset;
  opacity: 1;
}

.regular-window__content {
  overflow: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  height: 100%;
}

.regular-window__wrapper {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.regular-window__wrapper label {
  font-size: 1em;
}
.regular-window__wrapper p {
  display: inline-block;
  font-size: 1em;
}
.regular-window__wrapper a {
  font-size: 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  text-decoration: none;
}
.regular-window__wrapper a:link, .regular-window__wrapper a:visited {
  color: var(--text-color-high-emphasis);
}
.regular-window__wrapper a p {
  transition: all 0.1s ease;
  -webkit-text-decoration: underline var(--text-color-medium-emphasis);
          text-decoration: underline var(--text-color-medium-emphasis);
}
.regular-window__wrapper a p:hover {
  -webkit-text-decoration: underline var(--accent-color);
          text-decoration: underline var(--accent-color);
  color: var(--accent-color);
}
.regular-window__wrapper a .resources__emoji {
  display: inherit;
}

.regular-window__main-text {
  color: var(--accent-color);
  font-weight: 600;
}

.window-items {
  border: solid 2px var(--odd-sibling-color);
  border-radius: 4px;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.window-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 14px;
}

.window-item:nth-of-type(2n) {
  background-color: var(--odd-sibling-color);
}

.cookie-message__container {
  position: fixed;
  display: flex;
  bottom: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: var(--background-lighter-color);
  box-shadow: var(--shadow);
  padding: 14px;
  z-index: 3000;
  overflow: hidden;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.6s ease;
}

.cookie-message__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.cookie-message {
  font-weight: 300;
  font-size: 1.1rem;
  gap: 24px;
}

.cookie-message__button {
  transition: transform 0.1s ease;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 25px;
  font-family: inherit;
  font-size: 1rem;
  border: solid 1px var(--accent-color);
  background-color: transparent;
  color: var(--accent-color);
  border-radius: 4px;
  transition: transform 0.12s ease, background-color 0.12s ease;
  background-color: var(--accent-color);
  color: var(--call-to-action-text-color);
  white-space: nowrap;
}
@media (hover: hover) and (pointer: fine) {
  .cookie-message__button:hover {
    background-color: var(--accent-color-transparent);
    cursor: pointer;
    transform: scale(1.1);
  }
}
.cookie-message__button:active {
  background-color: var(--accent-color-transparent);
  cursor: pointer;
  transform: scale(1.1);
  transform: unset;
}
.cookie-message__button:active {
  color: var(--accent-color);
}

@media (hover: hover) and (pointer: fine) {
  .cookie-message__button:hover {
    color: var(--accent-color);
  }
}
@font-face {
  font-family: "Consolas";
  src: url("../../fonts/consola.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--diagonal-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color-transparent);
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--text-color-high-emphasis);
  background: var(--accent-color-transparent);
}

::selection {
  color: var(--text-color-high-emphasis);
  background: var(--accent-color-transparent);
}

body {
  background-color: var(--background-color);
  color: var(--text-color-high-emphasis);
  -webkit-tap-highlight-color: transparent;
}
body p {
  font-weight: 300;
  line-height: 1.2;
  font-size: 1.2rem;
}

header {
  font-size: 22px;
  display: flex;
  justify-content: center;
  top: 0;
  padding: 10px 20px 10px 10px;
  height: 50px;
  transition: transform 0.2s ease;
  overflow: hidden;
  position: relative;
}
header .logo__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 0.4rem;
  transform: translateX(10px);
  transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
header .logo__container .o {
  height: 2rem;
  width: 1rem;
  z-index: 200;
}
header .logo__container h2 {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  transform: translateY(-2px);
}
header .controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10vw;
}
header nav {
  display: flex;
  justify-content: space-between;
  flex-shrink: 1;
  align-items: center;
  gap: 18px;
  font-weight: 500;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
header nav label {
  cursor: pointer;
  transition: all 0.2s ease, transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
header nav label:active {
  color: var(--accent-color);
}
header .moon-sun__icons-container {
  position: relative;
  width: 24px;
  height: 60px;
  width: 25px;
}
header .moon-sun__icons-container svg {
  position: absolute;
  stroke-width: 1.5px;
  transition: all 0.4s ease;
  opacity: 1;
}
header .moon-sun__icons-container .moon__icon,
header .moon-sun__icons-container .sun__icon {
  top: 18px;
}
header .moon-sun__icons-container .moon__icon {
  stroke: var(--text-color-high-emphasis);
}
header .moon-sun__icons-container .sun__icon {
  stroke: #e9c46a;
}
header .moon-sun__icons-container .sun__icon__disabled {
  opacity: 0;
  transform: translateY(-40px);
}
header .moon-sun__icons-container .moon__icon__disabled {
  opacity: 0;
  transform: translateY(40px);
}
header .hamburger-x__wrapper {
  display: none;
  transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  z-index: 901;
}
header .hamburger-x__container {
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 30px;
  width: 30px;
  transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
header .hamburger-x__container svg {
  position: absolute;
  width: 28px;
  height: 28px;
}
header .hamburger-x__container__active {
  transform: rotate(90deg);
}
header .x__icon,
header .hamburger__icon {
  transition: opacity 0.3s ease;
}
header .slider-component {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  overflow: hidden;
  transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
header .slider-component svg {
  width: 26px;
  height: 26px;
}
header .slider-component .dark-theme-slider__container {
  display: flex;
  align-items: center;
  width: 46px;
  height: 26px;
  background-color: var(--slider-background-color);
  cursor: pointer;
  border-radius: 34px;
  position: relative;
  padding-left: 4px;
}
header .slider-component .dark-theme-slider__container::before {
  content: "";
  background-color: #fff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
header .slider-component .slider__active {
  transition: all 0.3s ease;
}
header .slider-component .slider__active::before {
  transition: all 0.3s ease;
  transform: translateX(18px);
}

.fixed-header-offset {
  transform: translateY(-120%);
}

.fixed-header-no-offset {
  transform: unset;
}

.fixed-header {
  position: fixed;
  width: 100vw;
  box-shadow: var(--shadow);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: var(--fixed-header-color);
  z-index: 1000;
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.vertical-banner__left {
  position: fixed;
  bottom: 14vh;
  transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55), color 0s;
  left: 10px;
  z-index: 100;
}
.vertical-banner__left .vertical-banner__left__icons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--accent-color);
  stroke-width: 1.2px;
  cursor: pointer;
}
.vertical-banner__left .vertical-banner__left__icons svg {
  width: 24px;
  height: 24px;
  opacity: 0.8;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: all 0.1s ease;
}
.vertical-banner__left .vertical-banner__left__icons :link,
.vertical-banner__left .vertical-banner__left__icons :visited {
  color: var(--accent-color);
}
.vertical-banner__left .vertical-banner__left__icons li {
  list-style-type: none;
}
@media (hover: hover) and (pointer: fine) {
  .vertical-banner__left .vertical-banner__left__icons svg:hover {
    transform: scale(1.3);
  }
}
.vertical-banner__left .vertical-banner__left__icons svg:active {
  transform: scale(1.3);
}

.vertical-banner__right {
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  right: 10px;
  position: fixed;
  bottom: 14vh;
  transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55), color 0s;
  color: var(--text-color-low-emphasis);
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  z-index: 100;
}

.initial-animation__header__descendant {
  transform: translateY(-30%);
  opacity: 0;
}

.initial-animation__banner__left {
  transform: translateX(-30%);
  opacity: 0;
}

.initial-animation__banner__right {
  transform: translateX(30%);
  opacity: 0;
}

main {
  width: 100vw;
  padding-top: 200px;
  overflow: hidden;
  margin: 0 auto;
}

.section-1 {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 250px;
}
.section-1 article {
  display: grid;
  grid-template-columns: 1fr;
  height: clamp(250px, 50vh, 420px);
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
}
.section-1 article .introduction {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  height: 100%;
  gap: 14px;
  z-index: 4;
}
.section-1 article .introduction h2 {
  font-size: clamp(2vh, 8rem, 5vw);
}
.section-1 article .introduction h2 .my-name {
  color: var(--accent-color);
}
.section-1 article .say-hi__container {
  display: flex;
  justify-content: flex-start;
  justify-self: end;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 20px;
}
.section-1 article .say-hi {
  margin-top: 50px;
  transition: transform 0.1s ease;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 25px;
  font-family: inherit;
  font-size: 1rem;
  border: solid 1px var(--accent-color);
  background-color: transparent;
  color: var(--accent-color);
  border-radius: 4px;
  transition: transform 0.12s ease, background-color 0.12s ease;
}
@media (hover: hover) and (pointer: fine) {
  .section-1 article .say-hi:hover {
    background-color: var(--accent-color-transparent);
    cursor: pointer;
    transform: scale(1.1);
  }
}
.section-1 article .say-hi:active {
  background-color: var(--accent-color-transparent);
  cursor: pointer;
  transform: scale(1.1);
  transform: unset;
}
.section-1 article aside {
  position: relative;
  justify-self: center;
  grid-column: 2/-1;
  height: 100%;
}
.section-1 .code-art__container__back,
.section-1 .code-art__container__front {
  width: 400px;
  height: 422px;
}
.section-1 .code-art__container__back,
.section-1 .code-art__container__front {
  background-color: var(--background-lighter-color);
  border-radius: 4px;
  line-break: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: solid 1px var(--osx-border-color);
  box-shadow: var(--shadow);
}
.section-1 .code-art__container__back .osx-bar,
.section-1 .code-art__container__front .osx-bar {
  width: 100%;
  height: 30px;
  background-color: var(--background-lightest-color);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom: solid 1px var(--osx-dot-container-bottom-border-color);
}
.section-1 .code-art__container__back .osx-bar .osx-bar__dots__container,
.section-1 .code-art__container__front .osx-bar .osx-bar__dots__container {
  display: flex;
  gap: 15px;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  padding: 12px;
}
.section-1 .code-art__container__back {
  transform: translate(30px, -50px);
}
.section-1 .code-art__container__front {
  position: absolute;
  top: 50px;
}
.section-1 .code-art__content__back {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 10px;
  font-family: "Consolas";
  font-size: 13px;
  line-height: 1.2;
}
.section-1 .code-art__content__back pre {
  white-space: pre-wrap;
}
.section-1 .code-art__content__front {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 10px;
  font-family: "Consolas";
  font-size: 13px;
  line-height: 1.2;
}
.section-1 .code-art__content__front pre {
  white-space: pre-wrap;
}

.typewriter__caret {
  height: inherit;
  -webkit-animation: blinker 0.8s linear infinite;
          animation: blinker 0.8s linear infinite;
  display: inline-block;
  font-size: 1em;
}
@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.blue {
  color: #04b2de;
}

.green {
  color: #57a249;
}

.orange {
  color: #ed8804;
}

.red {
  color: #c5504a;
}

.yellow {
  color: #cabf6a;
}

.gray {
  color: #999999;
}

.purple {
  color: #9951d4;
}

.code-art__base-color {
  color: var(--code-art__base-color);
}

.section-2 {
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-2 article {
  grid-column: 2/-1;
  justify-self: end;
  padding: 32px;
  width: 100%;
  max-width: 700px;
  border-radius: 15px;
  box-shadow: var(--shadow);
  background-color: var(--lighter-accent-color);
  gap: 42px;
  transform: translateX(clamp(80px, 10vw, 120px));
  z-index: 200;
}
.section-2 img {
  position: absolute;
  border-radius: 15px;
  transform: translate(-60px, -42px);
  width: auto;
  height: 380px;
  box-shadow: var(--shadow);
  border-radius: 15px;
  z-index: 300;
}
.section-2 .me {
  display: none;
}
.section-2 .about-me {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  gap: 14px;
}
.section-2 .about-me .about-me__text {
  grid-column: 2/-1;
  display: flex;
  gap: 14px;
  flex-direction: column;
}
.section-2 .about-me p {
  color: var(--about-me-p-color);
}
.section-2 .about-me h2 {
  font-size: 2rem;
  font-weight: 400;
  color: var(--about-me-h-color);
}
.section-2::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 130%;
  background-color: var(--diagonal-color);
  transform: rotate(4deg);
  z-index: -10;
}
@media (max-width: 1048px) and (min-width: 950px) {
  .section-2 article {
    max-width: 620px !important;
  }
}

.section-3 {
  padding-left: 10vw;
  padding-right: 10vw;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-3 article {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.section-3 article h2 {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 2rem;
}
.section-3 article a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.1s ease;
}
.section-3 article span {
  color: var(--text-color-high-emphasis);
}
.section-3 article a:link,
.section-3 article a:visited {
  color: var(--accent-color);
}
@media (hover: hover) and (pointer: fine) {
  .section-3 article a:hover {
    transform: scale(1.1) translateX(2px);
  }
}
.section-3 article a:active {
  color: var(--accent-color);
  transform: scale(1.1) translateX(2px);
}
.section-3 .skill-card__wrapper {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-color: var(--background-lighter-color);
  box-shadow: var(--shadow);
  padding: 1vw;
  border-radius: 15px;
}
.section-3 .skill-card {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
  gap: 10px;
  z-index: 5;
  transition: transform 0.3s ease-in-out;
}
.section-3 .skill-card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-3 svg:not(.redir__icon) {
  width: 80%;
  height: auto;
}
.section-3 .skill-card::before {
  content: "";
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
  width: 17px;
  height: 17px;
  border-radius: 50%;
  transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.2s;
  transform: translateY(-100%);
  z-index: -1;
}
.section-3 .skill-card__svg-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.section-3 .skill-card__svg-wrapper__javascript {
  background-color: #f7df1e;
}
.section-3 .skill-card:hover {
  transform: rotate(360deg);
}
.section-3 .skill-card:hover .skill-card__content {
  transform: translateY(12px);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.2s;
}
.section-3 .skill-card:hover .technology-description h2 {
  opacity: 0;
}
.section-3 .skill-card:hover::before {
  transform: scale(10);
}
.section-3 .technology-description h2 {
  font-size: 1rem;
  font-weight: inherit;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}
.section-3 .skill-card__css3::before {
  background-color: rgba(60, 156, 215, 0.5);
}
.section-3 .skill-card__git::before {
  background-color: rgba(222, 76, 54, 0.5);
}
.section-3 .skill-card__github::before {
  background-color: rgba(199, 199, 199, 0.5);
}
.section-3 .skill-card__html5::before {
  background-color: rgba(241, 101, 41, 0.5);
}
.section-3 .skill-card__javascript::before {
  background-color: rgba(247, 222, 30, 0.5);
}
.section-3 .skill-card__npm::before {
  background-color: rgba(203, 55, 55, 0.5);
}
.section-3 .skill-card__parceljs::before {
  background-color: rgba(248, 113, 113, 0.5);
}
.section-3 .skill-card__reactjs::before {
  background-color: rgba(0, 217, 255, 0.5);
}
.section-3 .skill-card__sass::before {
  background-color: rgba(205, 103, 153, 0.5);
}
.section-3 .skill-card__vscode::before {
  background-color: rgba(31, 156, 240, 0.5);
}
.section-3 .skill-card__webpack::before {
  background-color: rgba(28, 121, 192, 0.5);
}
.section-3 .skill-card__vite::before {
  background-color: rgba(147, 106, 254, 0.5);
}

.section-4 {
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 100px;
}
.section-4 .slider__container {
  display: grid;
  grid-template-columns: 0fr 1fr 0fr;
  grid-template-rows: 1fr 0fr;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
  max-width: 1200px;
}
.section-4 .dots__container {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-top: 10px;
}
.section-4 .dots__container .slider-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--slider-background-color);
  border: none;
  cursor: pointer;
  transition: transform 0.1s ease;
}
@media (hover: hover) and (pointer: fine) {
  .section-4 .dots__container .slider-dot:hover {
    transform: scale(1.4);
    border: solid 1px var(--accent-color);
  }
}
.section-4 .dots__container .slider-dot:active {
  transform: scale(1.4);
}
.section-4 .dots__container .active-dot {
  background-color: var(--accent-color);
}
.section-4 .slide-btn {
  background: none;
  border: none;
  stroke-width: 1;
  transition: all 0.1s ease;
}
@media (hover: hover) and (pointer: fine) {
  .section-4 .slide-btn:hover {
    transform: scale(1.4);
  }
  .section-4 .slide-btn:hover svg {
    transition: all 0.1s ease;
    filter: drop-shadow(1px 3px 3px rgba(0, 0, 0, 0.31));
  }
}
.section-4 .slide-btn:active {
  transform: scale(1.4);
}
.section-4 .slide-btn:active svg {
  transition: all 0.1s ease;
  filter: drop-shadow(1px 3px 3px rgba(0, 0, 0, 0.31));
  -webkit-filter: drop-shadow(1px 3px 3px rgba(0, 0, 0, 0.31));
  -moz-filter: drop-shadow(1px 3px 3px rgba(0, 0, 0, 0.31));
}
.section-4 .slide-btn svg {
  width: 64px;
  height: 64px;
  stroke-width: inherit;
  stroke: var(--accent-color);
  fill: none;
  cursor: pointer;
}
.section-4 .previous-slide {
  grid-column: 1/2;
}
.section-4 .next-slide {
  grid-column: 3/-1;
  grid-row: 1/2;
}
.section-4 .slides {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.section-4 .slide-item {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.section-4 .project-description {
  position: absolute;
  left: 5%;
  bottom: 20%;
}
.section-4 .project-img {
  position: absolute;
  right: 0;
  height: auto;
  top: 10%;
  width: 500px;
  border-radius: 15px;
}
.section-4 article {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.section-4 article h2 {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 2rem;
}
.section-4 .project-description {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 14px;
  padding: 24px;
  width: 475px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 15px;
  background-color: var(--background-lighter-color);
  box-shadow: var(--shadow);
  z-index: 1;
  font-size: 1rem;
}
.section-4 .project-description h2 {
  color: var(--accent-color);
  font-size: 1.4rem;
  font-weight: 500;
}
.section-4 .project-description p {
  font-size: inherit;
}
.section-4 .project-description .credit {
  font-size: inherit;
  font-size: 0.9rem;
  color: var(--text-color-low-emphasis);
}
.section-4 .project-description .credit a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  opacity: 0.7;
}
.section-4 .project-description .credit a:link, .section-4 .project-description .credit a:visited {
  color: var(--accent-color);
}
.section-4 .project-description .credit a:hover {
  border-bottom: solid 1px var(--accent-color);
  margin-bottom: -1px;
}
.section-4 .project-description .credit svg {
  width: 16px;
  height: 16px;
}
.section-4 .project-description .project-btn {
  margin-top: 6px;
  transition: transform 0.1s ease;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 25px;
  font-family: inherit;
  font-size: 1rem;
  border: solid 1px var(--accent-color);
  background-color: transparent;
  color: var(--accent-color);
  border-radius: 4px;
  transition: transform 0.12s ease, background-color 0.12s ease;
}
@media (hover: hover) and (pointer: fine) {
  .section-4 .project-description .project-btn:hover {
    background-color: var(--accent-color-transparent);
    cursor: pointer;
    transform: scale(1.1);
  }
}
.section-4 .project-description .project-btn:active {
  background-color: var(--accent-color-transparent);
  cursor: pointer;
  transform: scale(1.1);
  transform: unset;
}
.section-4 .project-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.section-4::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 130%;
  background-color: var(--diagonal-color);
  transform: rotate(4deg);
  z-index: -10;
}

footer {
  padding-left: 10vw;
  padding-right: 10vw;
  overflow: hidden;
}
footer .section-last {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-bottom: 18px;
  display: grid;
  grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content min-content;
  row-gap: 52px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
footer .footer-link {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-color-medium-emphasis);
  cursor: pointer;
}
footer a {
  text-decoration: none;
}
footer .footer-main-text {
  font-size: 1.4rem;
  text-align: center;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  justify-self: center;
  color: var(--accent-color);
  font-weight: 500;
}
footer .c-r {
  justify-self: center;
  text-align: center;
  color: var(--text-color-low-emphasis);
  font-size: 1rem;
  font-weight: 400;
}
footer svg:not(.footer__icon) {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  transform: translateY(3px);
}
footer .footer__links {
  display: inline-block;
  text-align: center;
  width: 80vw;
  justify-self: center;
  max-width: 900px;
}
footer .footer__links div:first-child {
  margin-bottom: 10px;
}
@media (max-width: 350px) {
  footer .footer__links {
    text-align: left;
    width: 11rem;
  }
}
footer .footer__link__wrapper {
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
}
footer .footer-link__item {
  display: flex;
  align-items: center;
  gap: 6px;
  transition: all 0.1s ease;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (hover: hover) and (pointer: fine) {
  footer .footer-link__item:hover {
    transform: scale(1.1);
  }
  footer .footer-link__item:hover .footer-link {
    color: var(--accent-color);
  }
}
footer .footer-link__item:active .footer-link {
  color: var(--accent-color);
}
footer .footer-link {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
footer .footer__icon {
  stroke: var(--accent-color);
  stroke-width: 1;
  fill: none;
  width: 1.6rem;
  height: 1.6rem;
}
footer .footer__links__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-dot {
  cursor: pointer;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease-in, background-color 0.2s ease-in, -webkit-backdrop-filter 0.2s ease-in;
  transition: opacity 0.2s ease-in, backdrop-filter 0.2s ease-in, background-color 0.2s ease-in;
  transition: opacity 0.2s ease-in, backdrop-filter 0.2s ease-in, background-color 0.2s ease-in, -webkit-backdrop-filter 0.2s ease-in;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
}

.osx-modal {
  height: clamp(28em, 80vh, 36em);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.osx-modal {
  background-color: var(--background-lighter-color);
  border-radius: 4px;
  line-break: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: solid 1px var(--osx-border-color);
  box-shadow: var(--shadow);
}
.osx-modal .osx-bar {
  width: 100%;
  height: 30px;
  background-color: var(--background-lightest-color);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom: solid 1px var(--osx-dot-container-bottom-border-color);
}
.osx-modal .osx-bar .osx-bar__dots__container {
  display: flex;
  gap: 15px;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  padding: 12px;
}

.osx-modal:not(.resume__osx-window) {
  opacity: 0;
  transform: translateY(100%) scale(0.5);
}

.osx-modal__btn {
  cursor: pointer;
}
@media (hover: hover) and (pointer: fine) {
  .osx-modal__btn:hover {
    opacity: 0.6;
  }
}
.osx-modal__btn:active {
  opacity: 0.6;
}

.osx-modal__contact-me,
.osx-modal__regular {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.form-btn__status__container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 4em;
}

.form-btn__submit__text {
  position: absolute;
  transition: all 0.2s ease;
}

.overlay .osx-modal__active {
  transform: none;
  opacity: 1;
}

body .overlay .osx-modal__maximize {
  width: 100vw;
  height: 100vh;
  border-radius: 0;
}
body .overlay .osx-modal__maximize .osx-bar__dots__container {
  border-radius: 0;
}
body .overlay .osx-modal__maximize .contact-me__form__message {
  min-height: unset;
}

.form-buttons {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.form-btn {
  transition: transform 0.1s ease;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 25px;
  font-family: inherit;
  font-size: 1rem;
  border: solid 1px var(--accent-color);
  background-color: transparent;
  color: var(--accent-color);
  border-radius: 4px;
  transition: transform 0.12s ease, background-color 0.12s ease;
  padding-left: 16px;
  padding-right: 16px;
  background-color: var(--accent-color);
  height: 2.2em;
  overflow: hidden;
  justify-self: end;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}
@media (hover: hover) and (pointer: fine) {
  .form-btn:hover {
    background-color: var(--accent-color-transparent);
    cursor: pointer;
    transform: scale(1.1);
  }
}
.form-btn:active {
  background-color: var(--accent-color-transparent);
  cursor: pointer;
  transform: scale(1.1);
  transform: unset;
}
.form-btn p:not(.form-btn__submit__text__sent) {
  color: var(--call-to-action-text-color);
}
@media (hover: hover) and (pointer: fine) {
  .form-btn:hover p {
    color: var(--accent-color);
  }
}
.form-btn:active p {
  color: var(--accent-color);
}

.contact-me__form {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 14px;
  gap: 14px;
  overflow-x: hidden;
}
.contact-me__form p {
  font-size: 1em;
}
.contact-me__form .contact-me__form__text {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.contact-me__form .contact-me__form__text h3 {
  font-weight: 600;
  font-size: 1.2em;
  color: var(--accent-color);
  align-self: start;
}

.contact-me__form__input {
  width: 100%;
  padding: 10px;
  font: inherit;
  background-color: transparent;
  color: inherit;
  outline: none;
  border: solid 1px var(--accent-color);
  border-radius: 4px;
  height: 36px;
}

.contact-me__form__message {
  height: 100%;
  min-height: 2em;
  resize: none;
}

.submission-sucessful {
  border-color: rgba(180, 180, 180, 0.6);
  pointer-events: none;
  color: var(--text-color-low-emphasis);
}

.error-btn {
  transition: transform 0.1s ease;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 25px;
  font-family: inherit;
  font-size: 1rem;
  border: solid 1px var(--accent-color);
  background-color: transparent;
  color: var(--accent-color);
  border-radius: 4px;
  transition: transform 0.12s ease, background-color 0.12s ease;
  background-color: var(--error-color);
  color: #fff;
  border: unset;
  justify-self: center;
  width: 50%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
@media (hover: hover) and (pointer: fine) {
  .error-btn:hover {
    background-color: var(--accent-color-transparent);
    cursor: pointer;
    transform: scale(1.1);
  }
}
.error-btn:active {
  background-color: var(--accent-color-transparent);
  cursor: pointer;
  transform: scale(1.1);
  transform: unset;
}
.error-btn {
  -webkit-animation: shake 0.3s ease;
          animation: shake 0.3s ease;
}
@-webkit-keyframes shake {
  0% {
    transform: translateX(10px);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(20px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes shake {
  0% {
    transform: translateX(10px);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(20px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
@media (hover: hover) and (pointer: fine) {
  .error-btn:hover {
    box-shadow: var(--shadow);
    background-color: var(--error-color);
  }
}
.error-btn:active {
  background-color: var(--error-color);
  box-shadow: var(--shadow);
}

.bad-input {
  border-color: var(--error-color);
  transition: border-color 0.3s ease;
  -webkit-animation: shake 0.3s ease;
          animation: shake 0.3s ease;
}
.bad-input {
  -webkit-animation: shake 0.3s ease;
          animation: shake 0.3s ease;
}
@keyframes shake {
  0% {
    transform: translateX(10px);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(20px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.o {
  font-family: Inter, sans-serif;
  stroke: var(--accent-color);
  fill: var(--accent-color);
  width: 5rem;
  height: 5rem;
  transform: rotate(70deg);
}

.invisible {
  opacity: 0;
}

.hidden {
  display: none;
}

.for-main__header-active {
  margin-top: 50px;
}

.redir__icon {
  width: 22px;
  height: 22px;
  stroke-width: 1px;
}

.section {
  position: relative;
  opacity: 0;
  transition: transform 0.8s ease-out, opacity 0.8s ease 0.2s;
  transform: translateY(10%);
}

.reveal {
  opacity: 1;
  transform: unset;
}

.loading__icon {
  position: absolute;
  width: 82px;
  height: 82px;
  fill: var(--accent-color);
  padding: 10px;
  -webkit-animation: loading 1.2s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55);
          animation: loading 1.2s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55);
  z-index: 201;
}
@-webkit-keyframes loading {
  0% {
    transform: translateX(-20%);
  }
  50% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(-20%);
  }
}
@keyframes loading {
  0% {
    transform: translateX(-20%);
  }
  50% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(-20%);
  }
}

.overlay__active {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
.overlay__active::after {
  opacity: 1;
  transform: unset;
}

.section-4 .loading__icon {
  top: 20%;
  left: calc(50% - 41px);
}

@media (max-width: 950px) and (min-width: 600px) {
  main {
    padding-top: 150px;
  }
  header .controls {
    gap: 20px;
  }
  .section-1 {
    padding-left: 8vw;
    padding-right: 8vw;
  }
  .section-1 article {
    position: relative;
    align-items: center;
  }
  .section-1 article .introduction {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 400px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 24px;
    border-radius: 15px;
  }
  .section-1 article .introduction .introduction-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
  }
  .section-2 {
    padding-left: 8vw;
    padding-right: 8vw;
  }
  .section-2 .loading__icon__img {
    fill: var(--about-me-h-color);
  }
  .section-2 .about-me__wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .section-2 .about-me__wrapper img {
    position: static;
    transform: translateY(42px);
    align-self: center;
  }
  .section-2 .about-me__wrapper .about-me {
    display: flex;
  }
  .section-2 .about-me__wrapper article {
    transform: none;
    padding-top: 62px;
  }
  .section-3 {
    padding-left: 8vw;
    padding-right: 8vw;
    gap: 26px;
  }
  .section-3 .skill-card__wrapper {
    grid-template-columns: 18vw 18vw 18vw 18vw;
    padding: 14px;
  }
  .section-3 .skill-card {
    height: 18vw;
  }
  .section-3 .skill-card:hover::before {
    transform: scale(8);
  }
  .section-3 .skill-card__svg-wrapper {
    width: 72px;
    height: 72px;
  }
  .section-3 h1 {
    width: 72vw;
  }
  .section-4 .project-description {
    width: 100%;
    bottom: 0;
    left: 0;
    box-shadow: none;
    background-color: transparent;
  }
  .section-4 .project-description::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-lighter-color);
    z-index: -1;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    opacity: 0.8;
  }
  .section-4 .project-img {
    width: 100%;
  }
  footer .c-r {
    font-size: 0.8rem;
  }
}
@media (max-width: 600px) {
  main {
    padding-top: 30px;
  }
  header {
    justify-content: space-between;
    padding-right: 10px;
  }
  header .hamburger-x__wrapper {
    display: block;
    cursor: pointer;
  }
  header nav {
    display: none;
  }
  .overlay .osx-modal {
    width: 90vw;
  }
  .section-1 {
    padding-left: 46px;
    padding-right: 46px;
    padding-top: 30px;
    padding-bottom: 400px;
  }
  .section-1 article {
    display: flex;
    justify-content: space-around;
    position: relative;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .section-1 article::after {
    position: absolute;
    top: 0;
    content: "";
    height: calc(100% + 200px);
    width: 100vw;
    left: -10vw;
    background: linear-gradient(to top, var(--background-color), rgba(0, 0, 0, 0));
    z-index: 1;
  }
  .section-1 article aside .code-art__container__back {
    display: none;
  }
  .section-1 article aside .code-art__container__front {
    position: static;
    width: 80vw;
    height: 450px;
    overflow: hidden;
  }
  .section-1 article .introduction {
    position: absolute;
    justify-content: center;
    top: 200px;
  }
  .section-1 article .introduction h2 {
    font-size: 2rem;
  }
  .section-1 article .introduction .say-hi {
    margin: 0;
  }
  .section-2 {
    padding-left: 46px;
    padding-right: 46px;
    padding-top: 180px;
  }
  .section-2 .loading__icon__img {
    fill: var(--about-me-h-color);
    transform: unset;
  }
  .section-2 img {
    align-self: start;
    justify-self: center;
    width: 150px;
    height: 285px;
    transform: translateY(-60%);
  }
  .section-2 .about-me__wrapper article {
    display: flex;
    transform: none;
    padding: 120px 24px 24px 24px;
  }
  .section-2 .about-me__wrapper article h1 {
    text-align: center;
  }
  .section-2 .about-me__wrapper {
    display: flex;
    justify-content: center;
  }
  .section-2 .about-me {
    display: block;
  }
  .section-3 {
    padding-left: 46px;
    padding-right: 46px;
    gap: 26px;
  }
  .section-3 .skill-card__wrapper {
    grid-template-columns: 24vw 24vw 24vw;
    gap: 0;
  }
  .section-3 .skill-card {
    height: 24vw;
    gap: 10px;
  }
  .section-3 .skill-card:hover::before {
    transform: scale(5);
  }
  .section-3 .skill-card__svg-wrapper {
    height: 10vw;
    width: 10vw;
  }
  .section-3 h1 {
    width: 72vw;
  }
  .section-4 {
    padding-left: 46px;
    padding-right: 46px;
    gap: 0;
  }
  .section-4 .loading__icon {
    top: 37%;
  }
  .section-4 .project-description {
    width: 100%;
    bottom: 0;
    left: 0;
    box-shadow: none;
    background-color: transparent;
  }
  .section-4 .project-description p {
    font-size: 1rem;
  }
  .section-4 .project-description a {
    font-size: 1rem;
  }
  .section-4 .project-description::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-lighter-color);
    z-index: -1;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    opacity: 0.8;
  }
  .section-4 .slider__container {
    position: relative;
    grid-template-columns: 100%;
    grid-template-rows: 100% -webkit-min-content;
    grid-template-rows: 100% min-content;
    height: 78vh;
    max-height: 700px;
  }
  .section-4 .project-img {
    width: 100%;
  }
  .section-4 .slide-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    width: 36px;
    height: 36px;
    z-index: 1;
    background-color: var(--background-lighter-color);
    border-radius: 50%;
    border: 1px solid var(--accent-color);
    opacity: 0.9;
    top: 40%;
  }
  .section-4 .slide-btn:hover svg {
    filter: none;
  }
  .section-4 .slide-btn:active {
    box-shadow: var(--shadow);
  }
  .section-4 .slide-btn:active svg {
    filter: none;
  }
  .section-4 .slide-btn svg {
    width: inherit;
    height: inherit;
  }
  .section-4 .previous-slide {
    left: 0;
  }
  .section-4 .next-slide {
    right: 0;
  }
  .section-4 .dots__container {
    grid-column: 1/-1;
    grid-row: 2/-1;
  }
  .cookie-message__content {
    gap: 10px;
  }
  .cookie-message {
    font-size: 0.8rem;
  }
  .cookie-message__button {
    font-size: 0.8rem;
    padding: 10px 20px;
  }
  footer label {
    font-size: 0.8rem;
  }
  footer .footer__links {
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
  }
  footer .footer__link__subgroup {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 14px;
  }
  footer .footer-link {
    text-align: left;
  }
  footer .footer__icon {
    height: 1.4rem;
    width: 1.4rem;
  }
  footer .c-r {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=style.css.map */